.sidebar {
  height: 100dvh;
  background-color: #fff;
  border-right: 2px solid #e5e9eb;
  display: flex;
  flex-direction: column;
  align-items: start;

  &__open {
    width: 280px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #0e73fc;
    color: white;
    font-weight: 600;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    margin: 10px 20px 10px;
  }

  &__titleWrapper {
    border-bottom: 2px solid #e5e9eb;
    width: 100%;
  }

  &__toggleButton {
    position: absolute;
    left: 70px;
    top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;

    button {
      font-size: 22px;
      color: #7384a2;
      transition: 0.5s;
    }
  }

  .chevronR {}

  &__logo {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0em;
    color: #0e73fc;
  }

  // ##################
  &__navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: auto;
  }

  &__navList {
    margin-top: clamp(0.625rem, 0.505rem + 0.6vw, 1.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 88px;
    height: calc(100dvh - 90px);
  }

  &__top {
    display: flex;
    flex-direction: column;
  }

  &__navItem {}

  &__navLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #6b7280;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.active {
      background-color: #0e73fc;
      color: #fff;
    }

    svg {
      font-size: 24px;
    }
  }

  &__navLink p {}

  &__logOutIcon {
    font-size: 20px;
    color: #7384a2;
    font-weight: 700;
  }

  &__wrapperSidebar {
    display: flex;
  }

  &__CategoryLinks {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: #fff;
    font-size: 17px;
  }

  &__SecondarynavLink {
    width: 150px;
    display: flex;
    text-decoration: none;
    color: #6b7280;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &.active {
      background-color: #0e73fc;
      color: #fff;
    }

    svg {
      font-size: 24px;
    }
  }
}