* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.container {
  width: 95%;
  max-width: 1980px;
  margin: 0 auto;
}
#outlet {
  width: 100%;
}
.chakra-accordion__item.css-17mg6aq {
  border: none;
}
.smooth-dnd-container.horizontal {
  margin-top: 10px;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.chakra-menu__menu-list.css-1kfu8nn button {
  display: flex !important;
  flex-direction: column !important;
}
.order__control {
  display: flex !important;
  align-items: center !important;
  gap: 10px;
  p {
    font-weight: 600;
  }
}
.order__menu {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #e5e9eb;
  border-radius: 8px;
}
.card-scene {
  height: calc(100vh - 140px);
  overflow-x: scroll;
}
::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.smooth-dnd-draggable-wrapper {
  width: 100%;
  max-width: 305px;
}
.smooth-dnd-draggable-wrapper{
  max-width: none;
}